body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#search {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

.job-types {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.job-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.job-image {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}

.logout-btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #0c0607;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.logout-btn:hover {
    background-color: #c82333;
}
